{{template "base" .}}

{{define "content"}}
<div class="clearfix page-404">
    <div class="row margin-top-70">
        <div class="column column-1-1">
            <ul class="features-list big">
                <li class="sl-large-construction">
                    <div class="ornament"></div>
                    <h2 class="box-header page-margin-top">404: СТРАНИЦА НЕ НАЙДЕНА</h2>
                    <p class="description">Простите, но мы не можем найти страницу, которую Вы запросили.<br>Это возможно, если Вы ввели адрес неправильно.</p>

                    <div class="row padding-top-54 padding-bottom-17">
                        <a class="more" href="/" title="ДОМОЙ">ДОМОЙ</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
{{end}}