{{template "base" .}}
{{define "content"}}
    <div class="row">
        <ul class="tabs-navigation small gray isotope-filters margin-top-70">
            {{range .Contacts}}
            <li><a class="city {{if eq .Id 1}}selected{{end}}" href="#{{.Link}}" attr="title={{.City}}">{{.City}}</a></li>
            {{end}}
        </ul>
    </div>
    <div class="row margin-top-70">
        <div class="column column-1-3 re-smart-column">
            <div class="re-smart-column-wrapper">
                <h4 class="box-header">НАШИ КОНТАКТЫ</h4>
                {{range .Contacts}}
                <ul class="features-list page-margin-top clearfix" style="{{if ne .Id 1}}display:none{{end}}" id="{{.Link}}">
                    <li class="sl-small-location">
                        <p>{{.Address}}</p>
                    </li>
                    <li class="sl-small-phone">
                        <p>Телефон:<br><span>{{.Phone}}</span></p>
                    </li>
                    <li class="sl-small-mail">
                        <p>E-mail:<br><span>{{.Email}}</span></p>
                    </li>
                    <li class="sl-small-clock">
                        <p>{{.WorkTime}}</p>
                    </li>
                </ul>
                {{end}}
            </div>
        </div>
        <div class="column column-2-3">
            <div class="contact-map" id="mapkursk"></div>
            <div class="contact-map" id="mapphatezh" style="display: none"></div>
            <div class="contact-map" id="mapkonishevka" style="display: none"></div>
            <div class="contact-map" id="mapkurchatov" style="display: none"></div>
            <div class="contact-map" id="mappryamitsino" style="display: none"></div>
            <h3 class="box-header page-margin-top">ПОЛУЧИТЕ БЕСПЛАТНУЮ КОНСУЛЬТАЦИЮ</h3>
            {{$mes := index .Data "siteMessage"}}
            <form class="contact-form page-margin-top" id="contact-form" method="post"  action="/sendEmail" onsubmit="ym(56107915,'reachGoal','okc46sendback'); return true;">
                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                <div class="row">
                    <fieldset class="column column-1-2">
                        <input class="text-input" name="name" type="text" placeholder="Ваше имя *" required="required" value="{{$mes.Name}}">
                        {{with .Form.Errors.Get "name"}}
                        <p>{{.}}</p>
                        {{end}}
                        <input class="text-input" name="email" type="text" placeholder="Ваш Email *" required="required" value="{{$mes.Email}}">
                        {{with .Form.Errors.Get "email"}}
                        <p>{{.}}</p>
                        {{end}}
                        <input class="text-input" name="phone" type="text" placeholder="Ваш телефон" value="{{$mes.Phone}}">
                    </fieldset>
                    <fieldset class="column column-1-2">
                        <textarea name="message" placeholder="Сообщение *" required="required" placeholder="Message *" value="{{$mes.Message}}" ></textarea>
                    </fieldset>
                </div>
                <div class="row margin-top-30">
                    <div class="column column-1-2">
                        <p class="description t1">Мы свяжемся с Вами в один рабочий день.</p>
                    </div>
                    <div class="column column-1-2 align-right">
                        <input type="hidden" name="action" value="contact_form" />
                        <input type="submit" name="submit" value="ОТПРАВИТЬ" class="more active">
                    </div>
                </div>
            </form>
        </div>
    </div>
{{end}}
{{define "js"}}
    <script type="text/javascript" src="static/js/okc46.js"></script>
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A5779b643602e384b42bc699aa7e502720364423a5f4257ec4af399ea17660803&amp;width=100%25&amp;height=450&amp;id=mapkursk&amp;lang=ru_RU&amp;scroll=true"></script>
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A64aa42aa3257fb21e0ea3ea0dfb793414f42291922a84e09d464bf9e05867f24&amp;width=100%25&amp;height=450&amp;id=mapphatezh&amp;lang=ru_RU&amp;scroll=true"></script>
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A1f4794b93c0acbebabe896a480f8c403acd6e28acd1b5331d84a1264f0815470&amp;width=100%25&amp;height=400&amp;id=mapkonishevka&amp;lang=ru_RU&amp;scroll=true"></script>
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A2b904193378267daf47195abeeffd0fa9cf9a5c5115edafc6f90087165eef0f2&amp;width=100%25&amp;height=400&amp;id=mapkurchatov&amp;lang=ru_RU&amp;scroll=true"></script>
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ac9b8f443d773f5271d5a5b0038e10d7098fb4ffaf6678f3d42c3d48ebb86ee12&amp;width=100%25&amp;height=400&amp;id=mappryamitsino&amp;lang=ru_RU&amp;scroll=true"></script>
{{end}}