{{define "whyme"}}
<h4 class="box-header">
    ПОЧЕМУ ВЫБИРАЮТ НАС
</h4>
<p class="description t1 margin-top-34">
    Свыше пяти лет опыта работы и фокус на решении реальных проблем наших клиентов.<br>
    Окаказание качественных профессиональных услуг нашим клиентам.<br>
    Работы выполняются сертифицированными специалистами с использованием сертифицированного оборудования.
</p>
<ul class="list margin-top-20">
    <li class="template-bullet">
        Ответственность перед клиентами за результат работы
    </li>
    <li class="template-bullet">
        Превосходное качество выполнения работ
    </li>
    <li class="template-bullet">
        Соблюдение сроков
    </li>
    <li class="template-bullet">
        Фокусировка на потребностях клиентов
    </li>
    <li class="template-bullet">
        Высокие стандарты
    </li>
</ul>
{{end}}